
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-top: 100px;
  overflow: hidden;
}


.card {
  width: 449.58px;
  height: 139.46px;
  top: 45.39px;
  left: 0px;
  border-radius: 9.75px;
  box-shadow: 0px 3.9008703231811523px 19.504350662231445px 0px #00000040;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 110px;
  background: url('../../../public/cardbg.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll, local;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}




.chartContent canvas {
  width: 100% !important; 
  height: 100% !important;
}

.chartContent {
  width: 110.45px;
  height: 110.45px;
}

.card-content {
  flex: 1;
}

.chart-title {
  margin-bottom: 20px;
}

.labelContainer {
  margin-top: 0px;
  padding-top: 40px; 
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
   grid-column-gap: 60px; 
  height: auto;
}

.labelItem {
  display: flex;
  color: aliceblue;
  align-items: center;
  
}

.doughnutChart {
  margin-left: 19px;
  margin-right: 30px;
  margin-top: -85px;
}

  .labelText {
    margin-left: 5px;
    font-size: 10px;
   
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }


.cardContent {
  width: 150px;
  height: 130px;
}

.chip {
  width: 20px;
  height: 18px;
  top: 120.95px;
  left: 157px;
  padding: 1.95px 7.8px;
  border-radius: 12.19px;
  gap: 9.75px;
  display: inline-flex;
  align-items: center;
  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  margin-bottom: 5px;
}

.chip:hover {
  background-color: #bdbdbd;
}




.label {
  position: relative;
  font-weight: bold;
  color: white;
}

.activePrLabel {
  top: 30%; 
  font-size: 12px;
  transform: translateY(-50%);
  font-style:unset;
 
   left: -1%;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
}

.sumLabel {
  top: 20%; 
  font-size: 18px;
  transform: translateY(-50%);
  left: -1%;
   text-align: center;
   
    font-weight: 700;
     line-height: 27px;
}

.titleText {
  position: absolute;
  top: 15%; 
  left: 45%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 600; 
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  
}

